  <div class="bottom">
    <div class="bottom-inner">
      <div class="footer-col">
        <h4><%= __('footer.quickLinks') %></h4>
        <ul>
          <li><a href="/lyzx"><%= __('nav.lyzx') %></a></li>
          <li><a href="/lywd"><%= __('nav.lywd') %></a></li>
          <li><a href="/zmzg"><%= __('nav.zmzg') %></a></li>
          <li><a href="/gwjd"><%= __('nav.gwjd') %></a></li>
          <li><a href="/kefu"><%= __('nav.lywd') %></a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4><%= __('footer.hotTours') %></h4>
        <ul>
          <li><a href="/tour/10<%= isEn ? '?lang=en' : '' %>">🏔️ <%= isEn ? 'Huangshan Mountain' : '黄山 · 天下第一奇山' %></a></li>
          <li><a href="/tour/11<%= isEn ? '?lang=en' : '' %>">🌊 <%= isEn ? 'Jiuzhaigou Fairyland' : '九寨沟 · 人间仙境' %></a></li>
          <li><a href="/tour/12<%= isEn ? '?lang=en' : '' %>">🏝️ <%= isEn ? 'Sanya Paradise' : '三亚 · 天涯海角' %></a></li>
          <li><a href="/tour/13<%= isEn ? '?lang=en' : '' %>">🏯 <%= isEn ? 'Lijiang Old Town' : '丽江 · 玉龙雪山' %></a></li>
          <li><a href="/tour/14<%= isEn ? '?lang=en' : '' %>">🏔️ <%= isEn ? 'Zhangjiajie Avatar' : '张家界 · 阿凡达仙境' %></a></li>
          <li><a href="/tour/15<%= isEn ? '?lang=en' : '' %>">🎋 <%= isEn ? 'Guilin Landscape' : '桂林 · 山水甲天下' %></a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4><%= __('footer.faq') %></h4>
        <ul>
          <li><a href="/kefu">💬 <%= __('kefu.title') %></a></li>
          <li><a href="/kefu"><%= __('footer.visaService') %></a></li>
          <li><a href="/lywd"><%= __('footer.faq') %></a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4><%= __('footer.contact') %></h4>
        <ul>
          <li>📞 <%= __('footer.contactPhone') %></li>
          <li>📧 <%= __('footer.contactEmail') %></li>
          <li>📍 <%= __('footer.contactAddress') %></li>
          <li>🕐 <%= __('kefu.contactHours') %></li>
          <li class="social-icons" style="margin-top:8px;">
            <a href="https://im.qq.com/"><img src="/img/qq.png" alt="QQ"></a>
            <a href="https://weixin.qq.com/"><img src="/img/wx.png" alt="微信"></a>
            <a href="https://weibo.com/"><img src="/img/wb.png" alt="微博"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copy">
    <p><%= __('footer.copyright') %></p>
  </div>

  <script src="/js/swiper-bundle.min.js"></script>
  <script>
    // Flash message auto-hide
    document.querySelectorAll('.flash-msg, .flash-error').forEach(el => {
      setTimeout(() => { el.style.display = 'none'; }, 4000);
    });
  </script>
</body>
</html>
